body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* padding: -0px 500px; */
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* background-image: url("https://images.satu.kz/187607221_w700_h500_originalnye-basketbolnye-krossovki.jpg"); */
    background-repeat: no-repeat;
    background-size: 500px 500px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap: 20px;  
}
.center {
    width: 50%;
    min-height: 50%;
    background-image: url("https://images.satu.kz/187607221_w700_h500_originalnye-basketbolnye-krossovki.jpg" );
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.center::after {
    content: "ПОПАЛСЯ ПИДОР";
    display: none;
    font-size: 35px;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 20s ease infinite;
    background-size: 400% 400%;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}
.center:hover {
    background-image:url( "https://avatars.dzeninfra.ru/get-zen_doc/1898242/pub_5ff2aaebfe4e686f6ab4ba47_60d87897a487630a3f07e1e0/scale_1200");
    width: 50%;
    background-size: contain;
    min-height: 50%;
}
.center:hover~.rainbow-animated{
    display: none;
}
.center:hover::after {
    display: flex;
}
.center:hover ~ .center {
    z-index: 0;
}

.rainbow {
    text-decoration: none;
    font-size: 35px;
    color: black;
}
.rainbow-animated {
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 20s ease infinite;
    animation: rainbow 20s ease infinite;
    font-size: 35px;
    line-height: 25px;
    padding-bottom: 120px;
  }
   
  @-webkit-keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
   
  @keyframes rainbow {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }